// Cores
$cor-primaria: #1e90ff;
$cor-secundaria: #f4f4f4;
$cor-texto: #333;
$cor-hover: #dceeff;
$cor-hover-botao: #0f75d4;
$cor-depoimento: #f9f9f9;

// Tipografia
$fonte-principal: 'Segoe UI', sans-serif;

// Espaçamentos
$espacamento: 2rem;
